body{
    background-color: white;
}
img#marioSprite{
    visibility: hidden;
}
canvas{
    display: block;
    max-height: 70vh;
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    
}
img#blocksSprite

{
    visibility: hidden;
}
div#download
{
    display: inline;
    text-align: center;

}
h3#dl-game
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
p#game-title
{
    color: #00ccff;
}
table#info
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    size: 5%
}
div#percentage
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
}
section.headings
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}